* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'montserrat', sans-serif;
	background-color: #223343;
}

header {
	padding: 50px 15px 0px;
}

header h1 {
	color: #FFF;
	font-size: 48px;
	font-weight: 500;
	text-align: center;
}

main {
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
}

section {
	padding: 15px;
}


main {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

section {
  padding: 15px ;
}

.header{
	font-family: 'Teko', sans-serif;
	background-color: #201E2C;
	display: flex;
	justify-content: center;
	font-size: 40px;
	color: #D4AF37;
	margin: auto;
	text-transform: uppercase;
}
.navBar ul{
background-color:	#ADD8E6;
  display: flex;
  font-size: 20px;
  font-family: 'Special Elite', cursive;
  justify-content: space-evenly;
  list-style: none;
  text-transform: uppercase;
	padding-top: 15px;
	padding-bottom: 10px;
	border-top: 1px solid #D4AF37;
	border-bottom: 1px solid #D4AF37;
  }

 #footer-links{
	 text-decoration: none;
	 color: white
 }
.searchBox {
margin-top: 40px;
  display: block;
  width: 100%;
  padding: 15px;

  border: none;
  outline: none;
  background: none;

  background-color: white;
  border-radius: 8px;

  color: black;
  font-size: 20px;
  font-weight: 300;

  transition: 0.4s ease-out;
}

.searchBox:focus {
  box-shadow: 0px 0px 8px 3px #4484c4
}

.results {
	display: flex;
	flex-wrap: wrap;
	margin: 0px -15px;
}

.results .result {
	width: 33.333%;
	min-width: 250px;
	padding: 15px;
	display: flex;
	flex-direction: column;
	cursor: pointer;
}

.results .result img {
	display: block;
	width: 100%;
}

.results .result h3 {
	color: #FFF;
	font-size: 20px;
	font-weight: 600;
	padding: 10px;
	background: #445565;
	flex: 1 1 100%;
	transition: 0.4s ease-out;
}

.results .result:hover h3 {
	background: #FFF;
	color: #223343;
}

.popup {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: #445565;

	overflow-y: scroll;
}

.popup .content {
	display: block;
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	padding: 25px;

	color: #FFF;
}

.popup .content h2 {
	font-size: 28px;
	font-weight: 600;
}
.popup .content h2 span {
	font-weight: 300;
	font-size: 20px;
}

.popup .content .rating {
	margin-bottom: 30px;
}

.popup .content .plot {
	display: flex;
	flex-wrap: wrap;
	margin: 0px -15px 30px;
}

.popup .content .plot img {
	flex: 1 1 50%;
	max-width: 300px;
	padding: 0px 15px;
}

.popup .content .plot p {
	flex: 1 1 50%;
	padding: 15px;
}

.popup .content .close {
	display: inline-block;
	padding: 15px 30px;
	font-size: 18px;
	font-weight: 700;

	background: #4484C4;
	color: #FFF;
	border-radius: 8px;
	border: none;
	outline: none;
	appearance: none;
	cursor: pointer;

	transition: 0.4s ease-out;
}

.popup .content .close:hover {
	background: #223343;
}

.popup .content .addToCart{
  /* display: inline-block; */
	padding: 15px 12px;
	font-size: 15px;
	font-weight: 700;

	background:#4484C4;
	color: #FFF;
	border-radius: 8px;
	border: none;
	outline: none;
	appearance: none;
	cursor: pointer;
	float: right;
	transition: 0.4s ease-out;
}
.popup .content .addToCart:hover{
  background: #223343;
}


@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
  width: 360px;
  padding: 11% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #43A047;
}

.form p {
	margin : 15px 0 0;
	color: #b3b3b3;
	font-size: 12px;
	
}

.movieImg{
	max-width: 100%;
  max-height: 100%;
  width: 3840px;
  height: 500px;
  position: relative;
  
}
.movieImgs{
	max-width: 100%;
  max-height: 100%;
  width: 3840px;
  height: 500px;
  position: relative;
  border-top: 2px solid #D4AF37;
  border-bottom: 2px solid #D4AF37;
  margin-top: -4px;
}

.footer{
	
	font-size: 15px;
	font-weight: lighter;
	background-color: #201E2C;
	text-transform: uppercase;
	text-align: center;
  color: #fff;
  padding: 7px;
  position: absolute;
  bottom: 0;
  width: 100%;
  position: fixed;
  z-index: 1;
}

#footerLinks{
	text-decoration: none;
	color: white;
	display: flex;
	padding-left: 48%;
	list-style: none;
	
}
#footer_Links{
	text-decoration: none;
	color: white;
	display: flex;
	padding-left: 44%;
	list-style: none;
	margin-top: 10px;
}


.forum-page {
	width: 550px;
	padding: 11% 0 0;
	margin: auto;
  }
  .posts {
	position: relative;
	z-index: 1;
	background: #FFFFFF;
	max-width: 700px;
	margin: 0 auto 100px;
	padding: 45px;
	text-align: center;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }

  .forum-page input {
	font-family: "Roboto", sans-serif;
	outline: 0;
	background: #f2f2f2;
	width: 100%;
	border: 0;
	margin: 0 0 15px;
	padding: 15px;
	box-sizing: border-box;
	font-size: 14px;
  }

  .forum-page textarea{
	font-family: "Roboto", sans-serif;
	outline: 0;
	background: #f2f2f2;
	width: 100%;
	border: 0;
	margin: 0 0 15px;
	padding: 15px;
	box-sizing: border-box;
	font-size: 14px;
  }

  .forum-page button {
	font-family: "Roboto", sans-serif;
	text-transform: uppercase;
	outline: 0;
	background: #4CAF50;
	width: 100%;
	border: 0;
	padding: 15px;
	color: #FFFFFF;
	font-size: 14px;
	-webkit-transition: all 0.3 ease;
	transition: all 0.3 ease;
	cursor: pointer;
  }
  .forum-page button:hover,.form button:active,.form button:focus {
	background: rgb(105, 22, 22);
  }
  
  .forum-page p {
	  margin : 15px 0 0;
	  color: #b3b3b3;
	  font-size: 12px;
	  
  }
  
  #title{
	color: white;
	font-size: 20px;
	display: flex;
	justify-content: center;
	text-transform: uppercase;
	margin-bottom: 20px;
}


.delete {
	display: inline-block;
	padding: 10px 15px;
	font-size: 10px;
	font-weight: 700;
	margin-left: 83%;
	color: #FFF;
	border-radius: 8px;
	border: none;
	outline: none;
	appearance: none;
	cursor: pointer;
	text-transform: uppercase;
	background: linear-gradient(to right, black 50%,  #4484C4 50%);
	background-size: 200% 100%;
	background-position: right bottom;
	transition: all .3s ease-out;
}

.delete:hover {
	
	background-position: left bottom;
}

.cartPage{
	
		width: 750px;
		height: 423px;
		margin: 80px auto;
		background: #FFFFFF;
		box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
		border-radius: 6px;
		display: flex;
		flex-direction: column;
}

.cartField{
	margin-top: 35px;
	margin-left: 35px;
}

.productPrice{
	margin-top: 5px;
}

.item{
	text-transform: uppercase;
}
